server:
  port: 8080

spring:
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

  data:
    redis:
      host: localhost
      port: 6379

  cassandra:
    contact-points: localhost
    port: 9042
    keyspace-name: trading
    local-datacenter: datacenter1
    schema-action: NONE
